<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Bienvenido</title>
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
</head>
<body>
	<section id="backbone">
		<article id="newarticle">
			<form action="" method="post" id="newarticleform" >
				<div class="row">
					<input type="text" name="nombre" placeholder="Nombre" id="articlenombre" />
				</div>
				<div class="row">
					<input type="text" name="apellido" placeholder="Apellido" id="articleapellido" />
				</div>
				<div class="row">
					<input type="text" name="edad" placeholder="Edad" id="articleedad" />
				</div>
				<div class="row">
					<input type="submit" id="articlesubmit" value="Agregar" />
				</div>
			</form>
		</article>
		<article id="articles"></article>
	</section>
	<script type="text/javascript" src="js/main.js" ></script>
</body>
</html>