body {
	background-color: #aaa;
}

#articles {
	overflow: hidden;
}

#backbone {
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
	width: 700px;
}

#newarticle {
	background-color: #ccc;
	margin: 0 auto 1em auto;
	text-align: center;
	width: 400px;
}

#newarticle > form {
	overflow: hidden;
}

.article {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 5px solid #ddd;
	box-sizing: border-box;
	padding: 0.5em;
	position: relative;
}

.article:not(:first-child) {
	margin-top: 1em;
}

.article-button {
	border-radius: 50%;
	border: 1px solid #999;
	height: 0.7em;
	position: absolute;
	top: 0.2em;
	width: 0.7em;
}

.deletearticle {
	background-color: #f99;
	right: 0.5em;
}

.deletearticle:hover {
	background-color: #d55;
}

.editarticle {
	background-color: #9f9;
	right: 2em;
}

.editarticle:hover {
	background-color: #5d5;
}

.row {
	margin: 1em;
}